@page "/sd_navbar"
<h3>Assignment plan for </h3>
<div class="topnav" id="topnav" style="position: relative;top: 0px;">

    <div style="overflow:auto;">
        <div class="navbar-toggler w3-left" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <img src="/images/toggler.JPG" />
            </span>

        </div>
        <div class="search" style="overflow:hidden;height:60px">
            <Plana.Web.Pages.template_components.Search />
        </div>
        <div class="avatar w3-right">
            <img src="/images/avatar.png" class="img-fluid" href="/myaccount" @onclick="@navigateToMyAccount" />
        </div>
        <div class="logo-image  w3-right">
            <img src="/images/logo.png" class="img-fluid" href="/home">


        </div>
        <div class="btn-group">
            <button @onclick="@navigateToModulesPlan">Modules Plan </button>
            <button @onclick="@navigateToLecturersPlan">Lecturers Plan</button>
        </div>

        @*<div class="w3-bar w3-left" style="width:100%;overflow:hidden;height:60px">




        </div>*@
    </div>
    
   

    <div class="@openVerticalMenu" style="width:55%" @onclick="ToggleNavMenu">
        <div class="vertical-menu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/sd_make_new_plan" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Make new plan
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/home">
                        <span class="" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
            </ul>
            @*<a href="#" class="active">Home</a>
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
                <a href="#">Link 4</a>*@
        </div>
    </div>
</div>
@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }
    /** nav menu*/
    private bool verticalMenu = true;

    private string openVerticalMenu => verticalMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        verticalMenu = !verticalMenu;
    }
    #region button methods

    protected  void navigateToModulesPlan() {
        navigationManager.NavigateTo("/sd_modulesPlan",true);

    }
    protected void navigateToLecturersPlan()
    {
        navigationManager.NavigateTo("/sd_lecturersPlan", true);

    }
    protected void navigateToMyAccount()
    {
        navigationManager.NavigateTo("/myAccount", true);

    }
    #endregion
}
<style>
    .topnav {
        position: relative;
        background-color: #f2f2f2;
        /*width: 80%;*/
        letter-spacing: 1px;
        height:100px;
    }

    .w3-bar {
        width: 100%;
        height: 120px;
        overflow: hidden;
    }

    .w3-right {
        float: right !important;
    }

    .w3-left {
        float: left !important;
    }
    /*               sider **/
    .vertical-menu {
        /* width: 200px;*/
        float: left;
        position: sticky;
    }


        .vertical-menu a {
            /*  background-color: #eee;*/
            color: black;
            display: block;
            padding: 12px;
            text-decoration: none;
        }

            /* .vertical-menu a:hover {
                background-color: #ccc;
            }*/

            .vertical-menu a.active {
                background-color: white;
                color: white;
            }

    .navbar-toggler-icon {
        width: 46px;
        height: 35px;
        overflow: hidden;
        margin-left: 30px;
        /*  margin-top: -20px;*/
    }

    .vertical-menu .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .vertical-menu .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .vertical-menu .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .vertical-menu .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .vertical-menu .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .vertical-menu .nav-item a.active {
                /* background-color: rgba(255,255,255,0.25);
                color: white;*/
                color: #FFD700;
            }

            .vertical-menu .nav-item a:hover {
                background-color: #fff;
                color: #43427d;
            }

    .search {
        border: none;
        color: rgba(0,0,0,.87);
        display: flex;
        font-size: 16px;
    }
    /*button style*/
    .btn-group button {

        background-color: #f2f2f2; /* Green background */
        border: 1px solid rgb(26, 79, 238); /* Green border */
        color: #333333; /* White text */
        display: flex;
        font-size: 16px;
        font-family: 'ArialMT', 'Arial';
        padding: 10px 5px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        float: left; /* Float the buttons side by side */
        border-radius: 12px;
        margin: 4px 8px;
        width: 140px;
        height: 40px;
        position:center;
    }

        .btn-group button:not(:last-child) {
            border-right: none; /* Prevent double borders */
        }

    /* Clear floats (clearfix hack) */
    .btn-group:after {
        content: "";
        clear: both;
        display: table;
    }

    /* Add a background color on hover */
    .btn-group button:hover {
        /*background-color:azure;*/
        color:goldenrod;

    }

    /*avatar*/
    .avatar {
        width: 94px;
        height: 61px;
        /*border-radius: 50%;*/
        overflow: hidden;
        margin-top: -45px;
        
        /* position: fixed;*/
    }

   

</style>