
<div class="topnav" id="topnav" style="position: relative;top: 0px;">

    <div style="overflow:auto;">
        <div class="navbar-toggler w3-left" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon">
                <img src="/images/toggler.JPG" />
            </span>

        </div>

      
        <div class="search" style="overflow:hidden;height:60px;">
            <Plana.Web.Pages.template_components.Search />
        </div>
        <div class="avaLogo">
            <div class="avatar w3-right">
                <a href="/myaccount">
                <img src="/images/avatar.png" class="img-fluid" />
                </a>
            </div>
            <div class="logo-image  w3-right">
                <a href="/home">
                <img src="/images/logo.png" class="img-fluid" />
                </a>
            </div>
        </div>

    </div>
    
    

    <div class="@openVerticalMenu" style="width:55%" @onclick="ToggleNavMenu">
        <div class="vertical-menu">
            <ul class="nav flex-column">
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/sd_NewPlan" Match="NavLinkMatch.All">
                                <span class="oi oi-file" aria-hidden="true"></span> Planning
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/lecturers">
                                <span class="oi oi-file" aria-hidden="true"></span> Lecturers
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/editlecturer">
                                <span class="oi oi-file" aria-hidden="true"></span> Create Lecturer
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/home">
                                <span class="" aria-hidden="true"></span> Home
                            </NavLink>
                        </li>
                       
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/identity/account/login">
                                <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/identity/account/logout">
                                <span class="oi oi-power-standby" aria-hidden="true"></span> Logout
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                                <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                    </NotAuthorized>

                </AuthorizeView>
            </ul>

        </div>
    </div>
</div>


@code {

    [Inject]
    public NavigationManager navigationManager { get; set; }
    /** nav menu*/
    private bool verticalMenu = true;

    private string openVerticalMenu => verticalMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        verticalMenu = !verticalMenu;
    }
    #region button methods

   
    protected void navigateToMyAccount()
    {
        navigationManager.NavigateTo("/myAccount", true);

    }
    #endregion

   

    bool snackBar = false;
    //List<Plan> Plans = PlanService.GetPlans().ToList();










    #region Methods

    #endregion

    #region Dialog Box Methods
    
    #endregion


}
<style>
    .topnav {
        position: relative;
        background-color: #f2f2f2;
        /*width: 80%;*/
        letter-spacing: 1px;
        height: 100px;
    }

    .w3-bar {
        width: 100%;
        height: 120px;
        overflow: hidden;
    }

    .w3-right {
        float: right !important;
    }

    .w3-left {
        float: left !important;
    }
    
    

    .navbar-toggler-icon {
        width: 46px;
        height: 35px;
        overflow: hidden;
        margin-left: 30px;
      
    }

    

    .search {
        border: none;
        color: rgba(0,0,0,.87);
        display: flex;
        font-size: 16px;
    }

    .matList {
    }

    

    /**  mat select item*/
    .my-item-class {
        width: 100%;
        text-align: center;
    }
    /** dropdown select*/
  /*  .selectYear {
        border-width: 0px;
        position: absolute;
        left: 500px;
        top: 41px;
        width: 177px;
        height: 37px;
        display: flex;
        color: #000000;
        text-align: left;
    }*/
    

    .avaLogo {
        float: right;
        padding: 10px 5px;
        margin: 4px 8px;
        margin-top: -45px;
    }

    .logo-image {
        width: 75px;
        height: 59px;
        left: 0;
        overflow: hidden;
    }

    /*avatar*/
    .avatar {
        width: 94px;
        height: 61px;
    }
    
</style>