<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Plana.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> List of Lecturers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/editlecturer">
                <span class="" aria-hidden="true"></span> Create Lecturer
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="" aria-hidden="true"></span> Semester
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/plana">
                <span class="" aria-hidden="true"></span> Plan try
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/lectmoduleslist">
                <span class="" aria-hidden="true"></span> Lecturers-Modules
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
