@page "/lecturers"
@inherits LecturerListBase
<h3>LecturerList</h3>
<input type="checkbox" id="showFooter" @bind="ShowFooter"/>
<label for="showFooter">Show Footer</label>

@if (Lecturers == null)
{
    <div class="spinner"></div>
}
else { 
<div class="card-deck">
    @foreach (var lecturer in Lecturers)
    { 
   
        <DisplayLecturer Lecturer="lecturer" ShowFooter="ShowFooter"
                         
                         OnLecturerDeleted="LecturersDeleted">

        </DisplayLecturer>
    
    }

        
    </div>
}