@*@page "/myplanL/{id}/{id2}"*@
@page "/myPlanL/{id}"
@page "/myplanL"

@using MatBlazor;

<Plana.Web.Pages.plan.navMenus.LCustomSelect />
<div class="btn-group" style="font-size: 13px">
    <button style="float: right;">add module</button>
    <button style="float: right;">add additional assignment</button>
    <button style="float: right;">show lecturer groups</button>
    <button style="float:left">show last year plan</button>
    <button class="btn-groupR" style="border-color:navajowhite">submit until</button>
</div>
<div class="btn-groupR" style="border-color:palevioletred">submit plan</div>

@if (Plan == null)
{
    <text>Loading...</text>
}
else
{

    @*<table class="table" itemscope="@Plan" itemid="@Plan.Id">*@
<div id="table_container">
    <div class="row">
        <div class="column">
            <table class="table">
                <thead>
                    <tr>


                        <th>Semester</th>
                        <th>Module</th>
                        <th>Module Title</th>
                        <th>Module-Group</th>
                        <th>Place</th>
                        <th>Module Total Hours</th>
                        <th>My hours</th>
                        <th>Actions</th>
                        <th>notes</th>
                        <th>lecturer group</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
</div>
        <div class="column">

            <table class="table">
                <thead>
                    <tr>
                        Total
</tr>
                    <tr>

                        <th>Semester</th>
                        <th>Module</th>
                        <th>Module Title</th>
                        <th>Module-Group</th>
                        <th>Place</th>
                        <th>Module Total Hours</th>
                        <th>My hours</th>
                        <th>Actions</th>
                        <th>notes</th>
                        <th>lecturer group</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </div>
        </div>
        }

        @code {


            [Parameter]
            public string Id { get; set; }

            [Parameter]
            public string Id2 { get; set; }

            [Inject]
            public IPlanLecturerService PlanLecturerService { get; set; }
        public PlanLecturer PlanLecturer { get; set; } = new PlanLecturer();

        [Inject]
        public IPlanService PlanService { get; set; }

        public Plan Plan { get; set; } = new Plan();


        //protected async override Task OnInitializedAsync()
        //{

        //    int.TryParse(Id, out int LecturerId);
        //    int.TryParse(Id2, out int PlanId);

        //    if (LecturerId != 0 && PlanId != 0)
        //    {
        //        PlanLecturer = await PlanLecturerService.GetPlanLecturer(LecturerId, PlanId);


        //    }
        //    else { PlanLecturer = new PlanLecturer { }; }
        //}

        protected async override Task OnInitializedAsync()
        {
            int.TryParse(Id, out int planId);

            if (planId != 0)
            {
                Plan = await PlanService.GetPlan(int.Parse(Id));

            }

        }
        }
        <style>
            /*   .row {
                    margin-left: -5px;
                    margin-right: -5px;
                }

                .column {
                    float: left;
                    width: 30%;
                    padding: 5px;
                }*/
            #table_container {
                width: 1000px;
                margin: 0 auto;
            }

            .row {
                margin-left: -5px;
                margin-right: -5px;
            }

            .column {
                float: left;
                width: 50%;
                padding: 5px;
            }

            /* Clearfix (clear floats) */
            .row::after {
                content: "";
                clear: both;
                display: table;
            }

            .table {
                border-collapse: collapse;
                border-spacing: 0;
                width: 400px;
                border: 1px solid #ddd;
            }
        </style>
