@page "/editlecturergroup/{id}"
@page "/editlecturergroup"
@using MatBlazor;
@using Plana.Shared;

@inherits EditLecturerGroupBase

<EditForm Model="@LecturerGroup" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <n3>@PageHeaderText</n3>
    <hr />
    <ValidationSummary />

    <div class="form-group row">
        <label for="firstname" class="col-sm-2 col-form-label">
            Title
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" placeholder="Title"
                       @bind-Value="LecturerGroup.Title" />
            <ValidationMessage For="@(() => LecturerGroup.Title)" />
        </div>
      </div>
     <div class="submit" style="font-size: 13px">
        <button style="float: right;">save</button>

    </div>
</EditForm>





@code {

    int SelectedId;

}
