@page "/"



    <div class="welcome" >
        <p>Welcome to PLANA</p>
    </div>
   
    <div class="alert alert-secondary mt-4" role="alert">
        <strong>
            Hi user, please
        </strong>
        <a href="/identity/account/login"> login</a>

    </div>

   

@code {}
<style>
   .welcome {
        margin: auto;
        width: 60%;
        border: 3px solid rgb(138, 26, 238);
        padding: 10px;
        border-style: dotted;
        
    }

    p {
        margin: 0px;
        margin-top: 1rem;
        position: center;
        text-align: center;
        font-family: 'Comic Sans MS';
        font-weight: 400;
        font-style: normal;
        font-size: 19px;
    }
</style>